/* 
    Document   : style
    Created on : Jul 7, 2013, 9:20:18 AM
    Author     : Mane
    Description:
        Purpose of the stylesheet follows.
*/

#push, #footer {
    height: 60px;
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}
#wrap > .container {
    padding-top: 60px;
}